
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    font-family: "Noto Sans TC", sans-serif;
    vertical-align: baseline;
    background: transparent;
}
.navbar{
    position:absolute;
}
.nav-title{
    width: 142px;
    height: 39px;
    padding: 44px 96px 0px 96px;
    font-family: 'Quella';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 39px;
    color: #1E1E1E;
}
.nav-item1{
    width: 54px;
    height: 27px;
    padding: 44px 48px 0px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #1E1E1E;
}
.nav-item2, .nav-item3{
    width: 81px;
    height: 27px;
    padding: 44px 48px 0px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);
}

.picture-item1{
    padding: 54px 52.5px 0px 431px;
    
}
.picture-item2{
    padding: 54px 51px 0px 0px;
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;
}
.picture-item3{
    padding: 54px 51px 0px 0px;
    }
.picture-item4{
    padding: 54px 0px 0px 0px;
}
/*main*/
/* .introduction{
    display: flex;
    flex-direction: rwo;
} */

.introduction{
    display: inline-block;
    position: absolute;
    width: 1248px;
    height: 512px;
    left: 96px;
    top: 123px;
    background: #C1DCDC;
    border-radius: 24px;
}
.introduction-title{
   
    white-space:nowrap;
    width: 512px;
    height: 128px;
    padding-top: 48px;
    padding-left: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000px;
    font-size: 64px;
    line-height: 32px;
    color: #000000;
}
.introduction-title2{
    
    white-space:nowrap;
    width: 512px;
    height: 64px;
    padding-left: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000px;
    font-size: 64px;
    line-height: 32px;
    color: #000000;
}
.click {
    display: flex; 
    flex-direction: row; 
    padding-top: 40px
}
.click h5{
    width: 64px;
    height: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    padding-left: 48px;
}
.click span{
    width: 122px;
    height: 27px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 27px;
    color: #1E1E1E;
    padding: 0px 48px 0px 48px;
}
.search{
    display: flex;
    flex-direction: row;
    margin: 48px 0px 0px 48px;
    width: 410px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 12px;
    line-height: 64px;
}

.search-icon{
    width: 48px;
    height: 48px;
    background: #C1DCDC;
    border-radius: 12px;
    margin-top: 10px;
}
.search span{
    padding-left: 18px;
    padding-right: 143px;
    color: rgba(30, 30, 30, 0.5);
    font-weight: 900;
}
.pics-discription{
    display: flex;
    flex-direction: row;
}
.pic1 {
    position: absolute;
    top: 400px;
    right: 560px;
}
.pic2 {
    position: absolute;  
    width: 450px;
    height: 400px;
    left: 686px;
    top: 112px;
    background: #1E1E1E;
    border-radius: 200px 200px 0px 200px;
}
.pic3{
    position: absolute;
    width: 180px;
    height: 180px;
    right: 0px;
    top: 0px;
}
/* main page2*/

.detail-title{
    position: absolute;
    top: 732px;
    left: 96px;
    width: 200px;
height: 96px;
    font-size: 28px;
}
.detail-introduction{
    position: absolute;
    top: 828px;
    left: 96px;
    width: 196px;
height: 81px;

font-weight: 800;
font-size: 16px;
line-height: 27px;
color: rgba(30, 30, 30, 0.5);
}
.box{
    position: absolute;
    top: 909px;
    left: 96px;
    width: 168px;
    height: 51px;
    border-radius: 8px;
    padding-top: 14px;
    text-align: center;
    gap: 10px;
    background-color: #C1DCDC;
}
.Plants-introduction-item1{
    position: absolute;
    top: 731px;
    left: 352px;
}
.Plants-introduction-item2{
    position: absolute;
    top: 731px;
    left: 699.33px;
}
.Plants-introduction-item3{
    position: absolute;
    top: 731px;
    left: 1046.67px;
}
.Plants-introduction-name{
    width: 228px;
    height: 27px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
}
.Plants-introduction-price{
    width: 77px;
    height: 27px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);

}
.contact-title{
    position: absolute;
    top: 1279px;
    left: 646.5px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
}
.contact-title-intro{
    position: absolute;
    top: 1322px;
    left: 525px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.5);
}
.Contact1{
    position: absolute;
    top: 1360px;
    left: 248px;
}
.grass{
    background-color: #C1DCDC;
    width: 48px;
    height: 48px;
    padding: 20px;
    border-radius: 45%;
}
.contacts1-title{
    position: absolute;
    top: 94px;
    left: -20px;
    width: 300px;
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
}
.contacts1-intor{
    width: 300px;
    height: 27px;
    position: absolute;
    top: 126px;
    left: -80px;
    text-align: center;
}

.Contact2{
    position: absolute;
    top: 1360px;
    left: 672px;
}
.contact2-box{
    background-color: #C1DCDC;
    width: 48px;
    height: 48px;
    padding: 20px;
    border-radius: 45%;
}
.contacts2-title{
    position: absolute;
    top: 94px;
    left: -40px;
    width: 300px;
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
}
.contacts2-intor{
    width: 300px;
height: 27px;
    position: absolute;
    top: 126px;
    left: -90px;
    text-align: center;
}

.Contact3{
    position: absolute;
    top: 1360px;
    left: 1096px;
}
.contact3-box{
    background-color: #C1DCDC;
    width: 48px;
    height: 48px;
    padding: 20px;
    border-radius: 45%;
}
.contacts3-title{
    position: absolute;
    top: 94px;
    left: -10px;
    width: 300px;
    font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
}
.contacts3-intor{
    width: 300px;
height: 27px;
    position: absolute;
    top: 126px;
    left: -90px;
    text-align: center;
}

/*category*/

.category-title{
    position: absolute;
    top: 1825px;
    
    left: 629px;
}

.category-intro{
    position: absolute;
    top: 1859px;
    left: 600px;
    color: rgba(30, 30, 30, 0.5);
}
.background-square{
    position: absolute;
    top: 1955px;
    width: 1530px;
height: 841px;
    background-color: #C1DCDC;
}
.Category1{
    position: absolute;
    top: 1912px;
    left: 96px;
    text-align: center;
}
.Category2{
    position: absolute;
    top: 2008px;
    left: 544px;
    text-align: center;
}
.Category2-intro{
    font-size: 14px;
    font-weight: 500px ;
    color: rgba(30, 30, 30, 0.5);
}

.Category3{
    position: absolute;
    top: 1912px;
    left: 992px;
    text-align: center;
}
.box2{
    position: absolute;
    top: 610px;
    left: 100px;
    padding-top:10px ;
    background: #FFFFFF;
border-radius: 8px;
align-items: center;
gap: 10px;
width: 147px;
height: 51px;
}
/*feedback*/
.Feedback{
    width: 1530px;
}
.nav-discription{
    position: absolute;
    top: 2815px;
    left: 96px;
    font-size: 32px;
    width: 457px;
height: 96px;
font-weight: 700;
}
.bars{
    display: inline-block;
    position: absolute;
    top: 2815px;
    right:132px ;
}
.customer-feedback1{
    position: absolute;
    top: 2950px;
    left: 96px;
    width: 800px;
    height: 330px;
    background: #C1DCDC;
    border-radius: 12px;
}
.feedback1-1{
    position: absolute;
    top: 20px;
    left: 38px;
    width: 750px;
    height: 81px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: rgba(30, 30, 30, 0.75);
}
.customer-photo{
    position: absolute;
    top: 26px;
    left: 7px;
    width: 250px;
    height: 305.00px;
}
.customer-name{
    position: absolute;
    left: 266px;
    top: 140px;
    font-size: 18px;
}
.customer-job{
    position: absolute;
    left: 266px;
    top: 165px;
    color: rgba(30, 30, 30, 0.5);
}
.Score{
    position: absolute;
    left: 687px;
    top: 140px;
    display: flex;
    gap: 10px;
}

.customer-feedback2{
    position: absolute;
    top: 2950px;
    left: 944px;
    width: 800px;
    height: 330px;
    background: #C1DCDC;
    border-radius: 12px;
}

.customer-photo2{
    position: absolute;
    top: 26px;
    left: 13px;
    width: 250px;
    height: 305.00px;
}
.customer-name2{
    position: absolute;
    left: 266px;
    top: 140px;
    font-size: 18px;
}
.customer-job2{
    position: absolute;
    left: 266px;
    top: 165px;
    color: rgba(30, 30, 30, 0.5);
}
/*footer*/
.More-information{
    background-color: #C1DCDC;
    width: 1530px;
    height: 440px;
    position: absolute;
    top: 3381px;
}
.More-information-title{
    position: absolute;
    left: 97.75px;
    top: 48px;
}
.More-information-intro{
    position: absolute;
    left: 97.75px;
    top: 101px;
    color: rgba(30, 30, 30, 0.5);
}
.More-information-icon1{
    position: absolute;
    left: 97.75px;
    top: 179px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid rgba(30, 30, 30, 0.5);
    width: 36px;
    height: 36px;
}
.More-information-icon2{
    position: absolute;
    left: 165.75px;
    top: 179px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid rgba(30, 30, 30, 0.5);
    width: 36px;
    height: 36px;
}
.More-information-icon3{
    position: absolute;
    left: 235.75px;
    top: 179px;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid rgba(30, 30, 30, 0.5);
    width: 36px;
    height: 36px;
}
.More-information-intro2{
    position: absolute;
    left: 97px;
    top: 325px;
    font-family: 'Poppins';
    color: rgba(30, 30, 30, 0.5);
    font-weight: 500px;

}
.More-information-right-item1{
    position: absolute;
    top: 35px;
    left: 892px;
    line-height: 3;
}
.More-information-right-item2{
    position: absolute;
    top: 35px;
    left: 1051px;
    line-height: 3;
}
.More-information-right-item3{
    position: absolute;
    top: 35px;
    left: 1206px;
    line-height: 3;
}
.item-list{
    color: rgba(30, 30, 30, 0.5);
}